/* html elements section */
/* sets default font and alignment of elements on the page */
html, body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
  margin: 20px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  color: White;
  font-weight: bold;
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

a {
  font-size: 18px;
  color: White
}

/* classes section */
/* header class that sets the background image for header elements and one
    element h4 on the page below */
.header {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
}

/* wrapper class that limits the width of the view */
.wrapper {
  width: 1800px;
}

/* footer class for text in the footer */
.footer {
  text-align: left;
  color: White;
  background-color: dimgray;
}

/* class to make links in footer stand out */
.emphasized {
  font-size: 18px;
  text-decoration: underline;
  font-style: normal;
}
