html, body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  color: White;
  font-weight: bold;
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: White
}

em {
  text-decoration: underline;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
}

.wrapper {
  width: 1800px;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: White;
  background-color: dimgray;
}
